# 1.1 Følger

## Eksempler

### Eksempel 5

En tallfølge er definert ved at hvert ledd er tre mindre enn det dobbelte av forrige ledd. Følgen starter på 4. Skriv et program i Python som skriver de ti første leddene av følgen til skjerm.

Rekursiv sammenheng:

$a_1 = 4$

$a_n = 2 \cdot a_{n-1} - 3$

In [2]:
a = 4

for n in range(10):
    print(a, end=', ')
    a = 2*a - 3

4, 5, 7, 11, 19, 35, 67, 131, 259, 515,

### Eksempel 6

Fibonacci-tallene er tallene i følgen 

            1, 1, 2, 3, 5, 8, 13, . . .

a) Finn en formel for leddene i Fibonacci-følgen.

Rekursiv sammenheng:

$a_1 = a_2 = 1$

$a_n = a_{n-1} + a_{n-2}$

b) Skriv et program i Python som produserer de ti første Fibonacci-tallene.

In [3]:
a = 1
b = 1

print(a, end=', ')

for n in range(8):
    print(a, end=', ')
    c = a
    a = a + b
    b = c

1, 1, 2, 3, 5, 8, 13, 21, 34,

### Eksempel X1

*a)* Skriv et program i Python som skriver de første 10 leddene av tallfølgen til skjerm.


                1, 2, 4, 7, 11, ...

Rekursiv sammenheng: 

$a_1 = 1$

$a_n = a_{n-1} + n - 1$

In [4]:
a = 1

for n in range(2, 12):
    print(a, end=', ')
    a = a + n - 1

1, 2, 4, 7, 11, 16, 22, 29, 37, 46,

*b)* Skriv et program i Python som skriver alle leddene under 100 til skjerm.

In [5]:
#Alternativ 1

a = 1

for n in range(2, 22):
    if a >= 100:
        break
    
    print(a, end=', ')
    a = a + n - 1

1, 2, 4, 7, 11, 16, 22, 29, 37, 46, 56, 67, 79, 92,

In [6]:
#Alternativ 2

a = 1
n = 2

while a < 100:
    print(a, end=', ')
    a = a + n - 1
    n = n + 1

1, 2, 4, 7, 11, 16, 22, 29, 37, 46, 56, 67, 79, 92,

## Oppgaver

### Oppgave 1.8

*a)* Skriv et program i Python som skriver de første 20 leddene av tallfølgen til skjerm.


                3, 6, 12, 24, ...

Rekursiv sammenheng: 

$a_n = 2 \cdot a_{n-1} $

In [7]:
a = 3

for n in range(20):
    print(a, end=', ')
    a = 2*a

3, 6, 12, 24, 48, 96, 192, 384, 768, 1536, 3072, 6144, 12288, 24576, 49152, 98304, 196608, 393216, 786432, 1572864,

*b)* Skriv et program i Python som skriver følgens ledd til skjerm helt til følgens ledd er større enn 10 000.

                2, 10, 50, 250, ...

Rekursiv sammenheng: 

$a_1 = 2$

$a_n = 5 \cdot a_{n-1}$

In [8]:
a = 2
print(a, end=', ')

n = 1
while a < 100000:
    a = 5 * a
    print(a, end=', ')
    n = n + 1

2, 10, 50, 250, 1250, 6250, 31250, 156250,

### Oppgave 1.9

En tallfølge er definert ved at $a_1=2$ og
$a_n=2 \cdot a_n + 1$. Skriv et program i Python som genererer de første ti leddene i følgen.

In [9]:
a = 2

for n in range(10):
    print(a, end=', ')
    a = 2 * a + 1

2, 5, 11, 23, 47, 95, 191, 383, 767, 1535,

### Oppgave 1.10

Lucas-tallene er tallene 

            2, 1, 3, 4, 7, 11, 18, . . . 
            
Skriv et program i Python som skriver ut de første 20 Lucas-tallene.


Rekursiv sammenheng: 

$a_1 = 2$
$a_2 = 1$

$a_n = a_{n-1} + a_{n-2}$

In [1]:
a = 2
b = 1
print(a, end=', ')
print(b, end=', ')

for n in range(18):
    c = b
    a = a + b
    print(a, end=', ')
    b = c

2, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

### Oppgave 1.61

Skriv et program i Python som kan finne ut hvor mange ganger vi må halvere 800 000 for å komme under 1.

In [11]:
a = 800000
n = 0

while a >= 1:
    a = a/2
    n = n + 1
    print(a, end=', ')

print('\n')
print(n, "ganger")

400000.0, 200000.0, 100000.0, 50000.0, 25000.0, 12500.0, 6250.0, 3125.0, 1562.5, 781.25, 390.625, 195.3125, 97.65625, 48.828125, 24.4140625, 12.20703125, 6.103515625, 3.0517578125, 1.52587890625, 0.762939453125,

20 ganger

### Oppgave 1.62

Skriv et program i Python som regner ut de neste leddene i en geometrisk tallfølge. Programmet skal be brukeren om $a_1$, $k$ og antall ledd.

In [12]:
# Kan bruk input()

a = 2
k = 3
N = 7

for n in range(N):
    a = a * k**n
    print(a, end=', ')

2, 6, 54, 1458, 118098, 28697814, 20920706406,